/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

/*PC*/
 @media screen and (min-width: 1025px) {
  /*ヘッダー・フッター*/
  .header_title {
    text-decoration: none;
    font-family: “STKaiti”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-left: 10px;
  }
  
  .header_logo {
    margin-left: 30px;
    margin-bottom: 15px;
  }
  
  .header_title:hover {
    color: #FFFFEE;
  }
  
  #header_right_nav {
    margin-left: auto;
    margin-right: 10px;
  }
  
  .header_menu_link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .header_menu_link:hover {
    color: #CCFFFF;
  }
  
  .header_sp_right_nav_container {
    display: none;
  }
  
  #footer_nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px auto;
  }
  
  #footer_nav li {
    font-size: small;
    font-family: 'klee',sans-serif;
    text-decoration: none;
  }
  
  /*プラポリ・利用規約*/
  .pri_pol_page, .terms_page {
    margin: 40px 50px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
  }
  
  .over {
    text-align: right;
  }
  
  /*ホーム画面*/
  .home_page {
    background-image: url("https://images.unsplash.com/photo-1614563637806-1d0e645e0940?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: block;
  }

  .home_title {
    text-align: center;
    padding: 30px 0;
  }

  .home_title h2 {
    color: #EEEEEE;
    font-family: “STKaiti”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, serif;
  }

  .home_title h2 span {
    color: crimson;
    font-weight: bold;
    font-size: 50px;
  }

  .home_table_contaner {
    display: flex;
  }

  .home_table {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    width: 25%;
    height: 150px;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
  }
  
  .home_message {
    font-family: 'klee',sans-serif;
    font-size: x-large;
  }
  
  .home_table_link, .home_table_search_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    text-decoration: none;
    color: #FF69A3;
    margin: auto;
  }
  
  .home_table_link:hover, .home_table_search_link:hover {
    color: #FFCC99;
  }

  /*新規登録・ログインページ*/
  .sign_up_page, .sign_in_page, .account_edit_page {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .sign_up_title, .sign_in_title, .account_edit_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    text-align: center;
  }

  .sign_up_field li, .sign_in_field li, .account_edit_field li {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    list-style: none;
    margin-top: 20px;
  }

  .sign_in_label, .sign_up_label, .account_edit_label {
    width: 250px;
    float: left;
  }

  .sign_in_field, .sign_up_field, .account_edit_field {
    width: 500px;
    margin: 0 auto;
  }

  .sign_up_actions, .sign_in_actions, .account_edit_actions {
    text-align: center;
    margin-top: 20px;
  } 

  .sign_up_button, .sign_in_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 15px;
    background-color: #6699FF;
    color: white;
    width: 330px;
  }

  .sign_in_link, .sign_up_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
  }

  .sign_in_link {
    padding-left: 40px;
    padding-right: 40px;
  }

  .sign_up_link {
    padding-left: 125px;
    padding-right: 125px;
  }

  /*アカウント編集ページ*/
  .account_edit_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #6699FF;
    color: white;
    width: 290px;
  }

  .back_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 130px;
  }

  /*ポストページ*/
  .post_index_page, .post_register_page, .post_edit_page {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .post_index_title {
    font-family: 'klee',sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }

  .post_index_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin: auto;
  }

  thead tr, thead th {
    text-align: center;
    width: 10%;
    padding: 5px 0;
    border: 1px solid #EEEEEE;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    background-color: #DDDDDD;
  }

  tbody tr, tbody td {
    text-align: center;
    width: 10%;
    height: 100px;
    padding: 5px 0;
    border: 1px solid #EEEEEE;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    background-color: #FFFFEE;
    font-size: large;
  }

  .post_index_shop_score {
    color: #FF3333;
    font-size: x-large;
  }

  .post_index_image {
    width: 100%;
    height: 100%;
  }

  .post_index_shop_name {
    font-size: x-large;
    text-decoration: none;
    color: black;
  }

  .post_index_edit_link {
    color: #6699FF;
    font-size: medium;
  }

  .post_register_logo, .post_edit_logo {
    width: 5%;
    height: 5%;
  }

  .post_register_title, .post_index_title, .post_edit_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    text-align: center;
  }

  .post_register_title h2, .post_index_title h2, .post_edit_title h2 {
    margin-left: 10px;
  }

  .post_register_field li, .post_edit_field li {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    list-style: none;
    margin-top: 20px;
  }

  .post_register_label, .post_edit_label {
    width: 250px;
    float: left;
  }

  .post_register_field, .post_edit_field {
    width: 500px;
    margin: 0 auto;
  }

  .post_register_file_field, .post_edit_file_field {
    display: flex;
  }

  .post_register_image, .post_edit_image {
    font-size: small;
  }

  .post_register_area, .post_edit_area {
    height: 150px;
  }

  .post_register_actions, .post_edit_actions {
    text-align: center;
    margin-top: 20px;
  }

  .post_register_button, .post_edit_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #6699FF;
    color: white;
    width: 290px;
  }

  .post_index_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 65px;
  }

  .post_show_page {
    margin-top: 40px 20px;
    display: flex;
  }

  .post_show_image {
    width: 90%;
    height: 90%;
    margin-top: 30px;
    margin-left: 20px;
  }

  .post_show_nav {
    width: 100%;
    border: 1px solid #EEEEEE;
    text-align: center;
    margin: auto;
    margin-right: 50px;
    padding: 40px 100px;
  }

  .post_show_shop_name {
    font-size: 40px;
  }

  .post_show_shop_score {
    font-size: 30px;
    color: #FF3333;
  }

  .post_show_nav_list {
    margin-top: 30px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
  }

  .post_show_nav_list span {
    border: 1px solid #EEEEEE;
    padding: 5px;
    background-color: #DDDDDD;
  }

  .posts_back_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 65px;
  }

  /*地図検索ページ*/
  .map_index_page {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .map_index_logo {
    width: 5%;
    height: 5%;
  }

  .map_index_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
  }

  .map_index_title h3 {
    margin-left: 10px;
  }

  .map_index_form {
    margin-left: 30px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
  }

  .map_index_form input {
    border-radius: 10px;
    border-color: #DDDDDD;
  }

  #addressInput {
    width: 250px;
  }

  .map_index_range {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #radiusInput {
    margin-bottom: 15px;
  }

  #mapArea {
    width: 90%;
    height: 500px;
    margin: auto;
  }

  #results {
    border: 1px dotted;
    height: 100px;
    width: 50%;
    margin: auto;
    padding: 10px;
    overflow-y: scroll;
    background: #FFFFCC;
  }
}

/*投稿検索ページ*/
.searches_index_page {
  margin-top: 40px;
  margin-bottom: 40px;
}

.searches_index_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'klee',sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.searches_index_logo {
  margin-right: 10px;
}

.searches_index_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: auto;
}

.searches_index_shop_score {
  color: #FF3333;
}

.searches_index_image {
  width: 80%;
  height: 100%;
}

.searches_index_shop_name {
  text-decoration: none;
  color: black;
}

.searches_index_tbody tr, .searches_index_tbody td {
  text-align: center;
  width: 10%;
  height: 150px;
  padding: 5px 0;
  border: 1px solid #EEEEEE;
  font-family: 'TsukuARdGothic-Regular',sans-serif;
  background-color: #FFFFEE;
  font-size: x-large;
}

/*タブレット*/
@media screen and (min-width:768px) and ( max-width:1024px) {
  /*ヘッダー・フッター*/
  .header_title {
    text-decoration: none;
    font-family: “STKaiti”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-left: 10px;
  }

  .header_logo {
    margin-left: 20px;
  }

  .header_title:hover {
    color: #FFFFEE;
  }

  #header_right_nav {
    max-width: 70%;
  }

  .header_menu_link {
    color: #FFFFFF;
    text-decoration: none;
  }

  .header_menu_link:hover {
    color: #CCFFFF;
  }

  #header_right_nav {
    display: none;
  }

  .header_sp_right_nav_container {
    margin-right: 15px;
  }

  #hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    margin: 0 0 0 auto;
  }

  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
  }

  .header_sp_right_nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }

  .header_sp_right_nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .header_sp_right_nav li {
    margin: 0;
    padding: 0;
  }

  .header_sp_right_nav li span {
    font-size: 15px;
    color: #fff;
  }

  .header_sp_right_nav li a, .header_sp_right_nav li span {
    display: block;
    padding: 20px 0;
  }

  .header_sp_right_nav li a {
    font-size: x-large;
  }

  .header_sp_right_nav li span {
    font-size: medium;
  }

  .header_sp_right_nav .close {
    position: relative;
    padding-left: 20px;
    margin-top: 20px;
  }

  .header_sp_right_nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
  }

  .header_sp_right_nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
  }

  .toggle {
    transform: translateY( 0 );
    opacity: 1;
  }

  footer nav {
    height: 120px;
  }

  footer nav ul {
    display: flex;
  }

  #footer_nav li {
    font-size: small;
    font-family: 'klee',sans-serif;
    text-decoration: none;
    margin-left: 10px;
  }

  /*プラポリ・利用規約*/
  .pri_pol_page, .terms_page {
    margin: 40px 50px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
  }

  .over {
    text-align: right;
  }

  /*ホーム画面*/
  .home_page {
    background-image: url("https://images.unsplash.com/photo-1614563637806-1d0e645e0940?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: block;
  }

  .home_title {
    text-align: center;
    padding: 30px 0;
  }

  .home_title h2 {
    color: #EEEEEE;
    font-family: “STKaiti”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, serif;
  }

  .home_title h2 span {
    color: crimson;
    font-weight: bold;
    font-size: 50px;
  }

  .home_table_contaner {
    display: flex;
  }

  .home_table {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    width: 40%;
    height: 160px;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
  }

  .home_message {
    font-family: 'klee',sans-serif;
    font-size: x-large;
  }

  .home_table_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: large;
    text-decoration: none;
    color: #FF69A3;
    margin: auto;
  }

  .home_table_search_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: large;
    text-decoration: none;
    color: #FF69A3;
    margin: auto;
    position: relative;
    top: 5px;
  }

  .home_table_link:hover, .home_table_search_link:hover {
    color: #FFCC99;
  }

  /*新規登録・ログインページ*/
  .sign_up_page, .sign_in_page, .account_edit_page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sign_in_logo, .sign_up_logo, .account_edit_logo {
    width: 5%;
    height: 5%;
  }

  .sign_up_title, .sign_in_title, .account_edit_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    text-align: center;
  }

  .sign_up_field li, .sign_in_field li, .account_edit_field li {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    list-style: none;
    margin-top: 20px;
  }

  .sign_in_label, .sign_up_label, .account_edit_label {
    width:200px;
    float: left;
  }

  .sign_in_field, .sign_up_field, .account_edit_field {
    width: 60%;
    margin: 0 auto;
  }

  .sign_in_field li {
    display: flex;
  }

  .sign_up_actions, .sign_in_actions, .account_edit_actions {
    text-align: center;
    margin-top: 20px;
  }

  .sign_up_button, .sign_in_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 15px;
    background-color: #6699FF;
    color: white;
    width: 330px;
  }

  .sign_in_link, .sign_up_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
  }

  .sign_in_link {
    padding: 5px 40px;
  }

  .sign_up_link {
    padding: 5px 125px;
  }

  /*アカウント編集ページ*/
  .account_edit_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #6699FF;
    color: white;
    width: 290px;
  }

  .back_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 130px;
  }

  /*ポストページ*/
  .post_index_page, .post_register_page, .post_edit_page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .post_index_title {
    font-family: 'klee',sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }

  .post_index_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin: auto;
  }

  thead tr, thead th {
    text-align: center;
    width: 10%;
    padding: 5px 0;
    border: 1px solid #EEEEEE;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    background-color: #DDDDDD;
  }

  tbody tr, tbody td {
    text-align: center;
    width: 10%;
    height: 100px;
    padding: 5px 0;
    border: 1px solid #EEEEEE;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    background-color: #FFFFEE;
    font-size: small;
  }

  .post_index_image {
    width: 100%;
    height: 100%;
  }

  .post_index_shop_name {
    font-size: medium;
    text-decoration: none;
    color: black;
  }

  .post_index_shop_score {
    color: #FF3333;
  }

  .post_index_edit_link {
    color: #6699FF;
    font-size: small;
  }

  .post_register_logo, .post_edit_logo, .post_index_logo {
    width: 5%;
    height: 5%;
  }

  .post_register_title, .post_index_title, .post_edit_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    text-align: center;
  }

  .post_register_title h2, .post_index_title h2, .post_edit_title h2 {
    margin-left: 10px;
  }

  .post_register_image, .post_edit_image {
    font-size: x-small;
  }

  .post_register_field li, .post_edit_field li {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    list-style: none;
    margin-top: 20px;
  }

  .post_register_label, .post_edit_label {
    width: 250px;
    float: left;
  }

  .post_register_field, .post_edit_field {
    width: 500px;
    margin: 0 auto;
  }

  .post_register_file_field {
    display: flex;
  }

  .post_register_memo_field, .post_edit_memo_field {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post_register_area, .post_edit_area {
    height: 150px;
  }

  .post_register_actions, .post_edit_actions {
    text-align: center;
    margin-top: 20px;
  }

  .post_register_button, .post_edit_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #6699FF;
    color: white;
    width: 290px;
  }

  .post_index_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 65px;
  }

  .post_show_page {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
  }

  .post_show_image {
    width: 95%;
    height: 370px;
  }

  .post_show_nav {
    border: 1px solid #EEEEEE;
    text-align: center;
    margin: auto;
    padding: 30px 85px;
  }

  .post_show_shop_name {
    font-size: 25px;
  }

  .post_show_shop_score {
    font-size: 20px;
    color: #FF3333;
  }

  .post_show_nav_list {
    width: 200px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
  }

  .post_show_nav_list span {
    border: 1px solid #EEEEEE;
    padding: 5px;
    background-color: #DDDDDD;
  }

  .posts_back_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 65px;
  }

  /*家系店舗一覧ページ*/
  .map_index_page, .iekei_index_page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .map_index_logo {
    width: 5%;
    height: 5%;
  }

  .map_index_title, .iekei_index_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    margin-bottom: 15px;
  }

  .map_index_title h3, .iekei_index_title h3 {
    margin-left: 10px;
  }

  .map_index_form {
    margin-left: 30px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
  }

  .map_index_form input {
    border-radius: 10px;
    border-color: #DDDDDD;
  }

  #addressInput {
    width: 250px;
  }

  .map_index_range {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #radiusInput {
    margin-bottom: 15px;
  }

  #mapArea {
    width: 90%;
    height: 500px;
    margin: auto;
  }

  #results {
    width: 50%;
    height: 100px;
    border: 1px dotted;
    padding: 10px;
    overflow-y: scroll;
    background: #FFFFCC;
    margin: auto;
  }
}

/*スマホ*/
@media screen and (min-width:320px) and ( max-width:767px) {
  /*ヘッダー・フッター*/
  .header_title {
    text-decoration: none;
    font-family: “STKaiti”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
  }

  .header_logo {
    margin-left: 10px;
  }

  .header_title:hover {
    color: #FFFFEE;
  }

  .header_menu_link {
    color: #FFFFFF;
    text-decoration: none;
  }

  .header_menu_link:hover {
    color: #CCFFFF;
  }

  #header_right_nav {
    display: none;
  }

  .header_sp_right_nav_container {
    margin-right: 15px;
  }

  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
  }

  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
  }

  .header_sp_right_nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }

  .header_sp_right_nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .header_sp_right_nav li {
    margin: 0;
    padding: 0;
  }

  .header_sp_right_nav li span {
    font-size: 15px;
    color: #fff;
  }

  .header_sp_right_nav li a, .header_sp_right_nav li span {
    display: block;
    padding: 10px 0;
  }

  .header_sp_right_nav li a {
    font-size: large;
  }

  .header_sp_right_nav li span {
    font-size: small;
  }

  .header_sp_right_nav .close {
    position: relative;
    padding-left: 20px;
    margin-top: 20px;
  }

  .header_sp_right_nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
  }

  .header_sp_right_nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
  }

  .toggle {
    transform: translateY( 0 );
    opacity: 1;
  }

  #footer_nav li {
    font-size: x-small;
    font-family: 'klee',sans-serif;
    text-decoration: none;
    margin-left: 10px;
    color: #000000;
  }

  /*プラポリ・利用規約*/
  .pri_pol_page, .terms_page {
    margin: 30px 30px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
  }

  .pri_pol_page h3 {
    font-size: large;
  }

  .pri_pol_page h4 {
    font-size: small;
  }

  .pri_pol_page p, .pri_pol_page h4 p, .pri_pol_page_ol li {
    font-size: x-small;
  }

  .terms_page h3 {
    font-size: large;
  }

  .terms_page h4 {
    font-size: small;
  }

  .terms_page p, .terms_page h4 p, .terms_page_ol li {
    font-size: x-small;
  }

  .over {
    text-align: right;
  }

  /*ホーム画面*/
  .home_page {
    background-image: url("https://images.unsplash.com/photo-1614563637806-1d0e645e0940?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: block;
  }

  .home_title {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 30px 0;
  }

  .home_title h2 {
    color: #EEEEEE;
    font-family: “STKaiti”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, serif;
    font-size: 15px;
  }

  .home_title h2 span {
    color: crimson;
    font-weight: bold;
    font-size: 20px;
  }

  .home_table_contaner {
    display: flex;
  }

  .home_table {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    width: 48%;
    height: 110px;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
  }

  .home_table_logo {
    width: 30%;
    height: 30%;
  }

  .home_message {
    font-family: 'klee',sans-serif;
    font-size: x-small;
  }

  .home_table_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: 5px;
    text-decoration: none;
    color: #FF69A3;
  }

  .home_table_search_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: x-small;
    text-decoration: none;
    color: #FF69A3;
    margin: auto;
  }

  .home_table_link:hover, .home_table_search_link:hover {
    color: #FFCC99;
  }

  /*新規登録・ログインページ*/
  .sign_up_page, .sign_in_page, .account_edit_page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sign_up_logo, .sign_in_logo, .account_edit_logo {
    width: 10%;
    height: 10%;
  }

  .sign_up_title, .sign_in_title, .account_edit_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    font-size: small;
    text-align: center;
  }

  .sign_up_field li, .sign_in_field li, .account_edit_field li {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    list-style: none;
    margin-top: 20px;
    display: block;
  }

  .sign_in_label, .sign_up_label, .account_edit_label {
    width:200px;
    float: left;
  }

  .sign_in_field, .sign_up_field, .account_edit_field {
    width: 80%;
    margin: 0 auto;
  }

  .sign_up_actions, .sign_in_actions, .account_edit_actions {
    text-align: center;
    margin-top: 20px;
  }

  .sign_up_button, .sign_in_button, .account_edit_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #6699FF;
    color: white;
    width: 230px;
  }

  .sign_in_link, .sign_up_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
  }

  .sign_in_link {
    font-size: small;
  }

  .sign_up_link {
    padding: 5px 75px;
  }

  /*アカウント編集ページ*/
  .back_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 100px;
  }

  /*ポストページ*/
  .post_index_page, .post_register_page, .post_edit_page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .post_index_logo, .post_register_logo, .post_edit_logo {
    width: 15%;
    height: 10%;
  }

  .post_register_title, .post_index_title, .post_edit_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    font-size: small;
    text-align: center;
    margin-bottom: 10px;
  }

  .post_index_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
  }

  thead tr, thead th {
    text-align: center;
    width: 10%;
    padding: 5px 0;
    border: 1px solid #EEEEEE;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: small;
    background-color: #DDDDDD;
  }

  tbody tr, tbody td {
    text-align: center;
    width: 10%;
    height: 100px;
    padding: 5px 0;
    border: 1px solid #EEEEEE;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    background-color: #FFFFEE;
    font-size: small;
  }

  .post_index_th, .post_index_td {
    display: none;
  }

  .post_index_shop_score {
    color: #FF3333;
  }

  .post_index_image {
    width: 90%;
    height: 80%;
  }

  .post_index_shop_name {
    font-size: small;
    text-decoration: none;
    color: black;
  }

  .post_index_edit_link {
    color: #6699FF;
    font-size: x-small;
  }

  .post_index_delete_button {
    color: #6699FF;
    font-size: x-small;
  }

  .post_register_title h2, .post_index_title h2, .post_edit_title h2 {
    margin-left: 10px;
  }

  .post_register_image, .post_edit_image {
    font-size: x-small;
  }

  .post_register_field li, .post_edit_field li {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    list-style: none;
    margin-top: 20px;
    display: block;
  }

  .post_register_label, .post_edit_label {
    width: 200px;
    float: left;
  }

  .post_register_field, .post_edit_field {
    width: 80%;
    margin: 0 auto;
  }

  .post_register_memo_field, .post_edit_memo_field {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post_register_area, .post_edit_area {
    height: 150px;
    width: 200px;
  }

  .post_register_actions, .post_edit_actions {
    text-align: center;
    margin-top: 20px;
  }

  .post_register_button, .post_edit_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #6699FF;
    color: white;
    width: 230px;
  }

  .post_index_link {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 35px;
  }

  .post_show_page {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
  }

  .post_show_image_container {
    text-align: center;
  }

  .post_show_image {
    width: 80%;
  }

  .post_show_nav {
    border: 1px solid #EEEEEE;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 20px 50px;
  }

  .post_show_shop_name {
    font-size: large;
  }

  .post_show_shop_score {
    font-size: small;
    color: #FF3333;
  }

  .post_show_nav_list {
    margin-top: 10px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: small;
  }

  .post_show_nav_list span {
    border: 1px solid #EEEEEE;
    padding: 5px;
    background-color: #DDDDDD;
  }

  .posts_back_button {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EEEEEE;
    color: black;
    text-decoration: none;
    padding: 5px 35px;
  }

  /*家系地図検索*/
  .map_index_page, .iekei_index_page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .map_index_logo {
    width: 30px;
    height: 30px;
  }

  .map_index_title, .iekei_index_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    margin-bottom: 20px;
  }

  .map_index_title h3, .iekei_index_title h3 {
    margin-left: 10px;
  }

  .map_index_form {
    text-align: center;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
  }

  .map_index_form input {
    border-radius: 10px;
    border-color: #DDDDDD;
    margin-bottom: 10px;
  }

  #addressInput {
    width: 250px;
  }

  .map_index_range {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
  }

  #radiusInput {
    margin-bottom: 10px;
  }

  #mapArea {
    width: 90%;
    height: 500px;
    margin: auto;
  }

  #results {
    width: 90%;
    height: 100px;
    border: 1px dotted;
    padding: 10px;
    overflow-y: scroll;
    background: #FFFFCC;
    margin: auto;
  }

  /*投稿検索ページ*/
  .searches_index_page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .searches_index_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'klee',sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }

  .searches_index_logo {
    margin-right: 10px;
  }

  .searches_index_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin: auto;
  }

  .searches_index_shop_score {
    color: #FF3333;
  }

  .searches_index_image {
    width: 90%;
    height: 80%;
  }

  .searches_index_shop_name {
    text-decoration: none;
    color: black;
  }

  .searches_index_tbody tr, .searches_index_tbody td {
    text-align: center;
    width: 10%;
    height: 150px;
    padding: 5px 0;
    border: 1px solid #EEEEEE;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    background-color: #FFFFEE;
    font-size: small;
  }
}
